# Node.js dependencies
node_modules/
package-lock.json
yarn.lock

# Output of TypeScript compilation and Webpack
dist/
out/
*.js
*.js.map

# Rust build artifacts
target/
pkg/
Cargo.lock

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# VSCode workspace settings
.vscode/

# Temporary files
*.tmp
*.temp

# WebAssembly artifacts
*.wasm

/target

wasm/target
